Repository Warcraft-GoA-Development-Team/Warcraft-Guardians-of-Azeroth-2, pull requests merged in 2022-02, with the labels that each got.

#773 Historical Plagues
  common/character_interactions/wc_scheme_interactions.txt
  common/script_values/wc_plague_values.txt
  common/scripted_effects/wc_plague_effects.txt
  common/scripted_effects/wc_plague_scheme_effects.txt
  common/scripted_effects/wc_war_effects.txt
  common/scripted_modifiers/wc_plague_modifiers.txt
  common/story_cycles/wc_story_cycle_scourge_invasion.txt
  events/religion_events/faith_conversion_events.txt
  history/titles/00_wc_development_history.txt
Labels: new feature :star:, lore :books:, priority critical :exclamation:, history 👑

#839 Religion Fixes
  common/religion/doctrines/00_core_tenets.txt
  common/religion/doctrines/wc_doctrines_special.txt
  common/religion/holy_sites/wc_holy_sites.txt
  common/religion/religions/light_group.txt
  common/religion/religions/loa_group.txt
  common/religion/religions/nerub_group.txt
  common/religion/religions/pandaren_religion_group.txt
  common/religion/religions/water_group.txt
  common/scripted_triggers/wc_religious_triggers.txt
  localization/english/religion/wc_core_tenets_l_english.yml
Labels: lore :books:, maintenance :wrench:, priority medium :grey_exclamation:, balance :balance_scale:, religious :pray:

#825 Cultural Naming Improvements (Elven Group)
  common/culture/cultures/elf.txt
  common/dynasties/100000_night_elf.txt
  common/dynasties/110000_satyr.txt
  common/dynasties/177000_nightborne.txt
  common/dynasties/20000_high_elf.txt
  localization/english/dynasties/wc_dynasty_names_l_english.yml
  localization/english/names/wc_character_names_l_english.yml
Labels: localisation :page_facing_up:, priority critical :exclamation:, good first issue, cultural :mortar_board:

#861 Maiev no longer abuses Illidan in prison
  common/character_interactions/00_prison_interactions.txt
  history/characters/340000_night_elf.txt
Labels: lore :books:, vanilla modification :icecream:, priority high :exclamation:

#871 Path to Astranaar added
  map_data/adjacencies.csv
Labels: bug fix :hammer:, priority critical :exclamation:, cartography 🌐

#870 Bolvar Fordragon landed
  history/titles/00_k_stormwind.txt
Labels: history 👑

#896 Ice Texture
  gfx/map/terrain/materials.settings
  gfx/map/terrain/north_ice_diffuse.dds
  gfx/map/terrain/north_ice_mask.png
  gfx/map/terrain/north_ice_normal.dds
  gfx/map/terrain/north_ice_orm.dds
Labels: priority critical :exclamation:, 2D graphics :paintbrush:, cartography 🌐

#904 Arthas kills Uther or any other holy order leader
  common/scripted_effects/wc_being_effects.txt
Labels: bug fix :hammer:

#907 Hud small fixes
  gfx/interface/icons/lifestyles_perks/trait_theologian.dds
  gfx/interface/icons/traits/in_ice_prison.dds
  gfx/interface/icons/traits/theologian.dds
  gui/hud.gui
Labels: interface 👁‍🗨

#900 GUI optimisation
  common/scripted_character_templates/00_priest_character_template.txt
  gfx/interface/icons/flat_icons/army_disband.dds
  gui/window_my_realm.gui
  localization/english/gui/wc_gui_l_english.yml
  localization/english/modifiers/wc_modifiers_l_english.yml
  localization/english/wc_game_concepts_l_english.yml
  localization/french/wc_game_concepts_l_french.yml
  localization/german/gui/wc_gui_l_german.yml
  localization/german/modifiers/wc_modifiers_l_german.yml
  localization/german/wc_game_concepts_l_german.yml
Labels: bug fix :hammer:, priority critical :exclamation:, interface 👁‍🗨
