Repository Warcraft-GoA-Development-Team/Warcraft-Guardians-of-Azeroth-2, pull requests merged in 2023-12, with the labels that each got.

#1267 Draenei CoA Patch
  common/coat_of_arms/template_lists/colored_emblem_lists.txt
  common/culture/cultures/wc_argusean.txt
  gfx/coat_of_arms/colored_emblems/69_coa_designer_emblems.txt
  gfx/coat_of_arms/colored_emblems/ce_draenei1.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei10.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei2.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei3.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei4.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei5.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei6.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei7.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei8.dds
  gfx/coat_of_arms/colored_emblems/ce_draenei9.dds
Labels: 2D graphics :paintbrush:

#1266 Governements and titles changes
  common/bookmarks/bookmarks/00_bookmarks.txt
  common/coat_of_arms/coat_of_arms/wc_religious_titles.txt
  common/culture/name_lists/wc_aqir.txt
  common/culture/name_lists/wc_dwarven.txt
  common/culture/name_lists/wc_taunka.txt
  common/culture/name_lists/wc_tauren.txt
  common/customizable_localization/00_government_custom_loc.txt
  common/decisions/80_major_decisions.txt
  common/decisions/dlc_decisions/fp3_decisions.txt
  common/governments/00_government_types.txt
  common/landed_titles/wc_religious_titles.txt
  common/laws/00_succession_laws.txt
  common/religion/religions/doombringer.txt
  common/religion/religions/fel_group.txt
  common/scripted_effects/00_decisions_effects.txt
  common/scripted_triggers/wc_government_triggers.txt
  common/scripted_triggers/wc_religious_triggers.txt
  gfx/coat_of_arms/colored_emblems/ce_shadowcouncil.dds
  history/characters/10000_orc.txt
  history/provinces/00_k_black_morass.txt
  history/provinces/00_k_blackrock.txt
  history/provinces/00_k_desolace.txt
  history/provinces/00_k_durotan.txt
  history/provinces/00_k_morlosaran.txt
  history/titles/000_wc_other_titles.txt
  history/titles/000_wc_religious_head_titles.txt
  history/titles/00_k_durotan.txt
  history/titles/00_k_wildhammer.txt
  localization/english/wc_religious_titles_l_english.yml
  localization/replace/english/wc_governments_l_english.yml
Labels: lore :books:, localisation :page_facing_up:, vanilla modification :icecream:, priority low :grey_exclamation:, history 👑, cultural :mortar_board:

#1203 6th Localisation crusade (English only)
  localization/english/bookmark/bookmark_605_l_english.yml
  localization/english/culture/wc_cultural_innovations_l_english.yml
  localization/english/dynasties/wc_dynasty_names_l_english.yml
  localization/english/event_localization/wc_arthas_expedition_events_l_english.yml
  localization/english/modifiers/wc_modifiers_l_english.yml
  localization/english/religion/wc_core_tenets_l_english.yml
  localization/english/religion/wc_gods_and_titles_l_english.yml
  localization/english/religion/wc_magic_doctrines_l_english.yml
  localization/english/religion/wc_religion_l_english.yml
  localization/english/wc_activity_arthas_l_english.yml
  localization/replace/english/wc_governments_l_english.yml
Labels: localisation :page_facing_up:

#695 Adapting WoW History: Part 1
  common/bookmarks/bookmarks/01_bookmarks.txt
  common/bookmarks/groups/00_bookmark_groups.txt
  common/culture/cultures/wc_zulite.txt
  common/culture/name_lists/wc_arathi.txt
  common/culture/name_lists/wc_demonic.txt
  common/culture/name_lists/wc_gilnean.txt
  common/culture/name_lists/wc_pyromantic.txt
  common/culture/name_lists/wc_southern.txt
  common/culture/name_lists/wc_zulite.txt
  common/scripted_effects/wc_pol_faction_effects.txt
  gfx/portraits/portrait_modifiers/wc_scripted_appearances.txt
  history/characters/10000_orc.txt
  history/characters/11000_dark_iron.txt
  history/characters/15000_gurubashi.txt
  history/characters/17000_28000_bronzebeard.txt
  history/characters/1_azerothian.txt
  history/characters/22000_wildhammer.txt
  history/characters/29000_gnoll.txt
  history/characters/330000_highborne.txt
  history/characters/340000_night_elf.txt
  history/characters/36000_fire_elemental.txt
  history/characters/38000_arathorian.txt
  history/characters/400000_titan.txt
  history/characters/42000_high_elf.txt
  history/characters/430000_nathrezim.txt
  history/characters/46000_gilnean.txt
  history/characters/48000_tirassian.txt
  history/characters/57000_amani.txt
  history/characters/58000_alteraci.txt
  history/characters/59000_dalaranian.txt
  history/characters/60000_63000_lordaeronian.txt
  history/characters/6000_gurubashi.txt
  history/characters/62000_dragon.txt
  history/characters/66000_zandalari.txt
  history/characters/68000_darkspear.txt
  history/provinces/00_k_frostmane.txt
  history/titles/000_wc_other_titles.txt
  history/titles/000_wc_religious_head_titles.txt
  history/titles/00_k_dalaran.txt
  history/titles/00_k_durotan.txt
  history/titles/00_k_dustwallow.txt
  history/titles/00_k_gurubashi.txt
  history/titles/00_k_hyjal.txt
  history/titles/00_k_icecrown.txt
  history/titles/00_k_kul_tiras.txt
  history/titles/00_k_ratchet.txt
  history/titles/00_k_stormwind.txt
  localization/english/names/wc_character_names_l_english.yml
  localization/english/wc_mottos_l_english.yml
Labels: suggestion :question:, lore :books:, priority medium :grey_exclamation:, history 👑
