Repository Warcraft-GoA-Development-Team/Warcraft-Guardians-of-Azeroth-2, pull requests merged in 2024-12, with the labels that each got.

#1598 Elemental Water Perks
  common/decisions/wc_magic_decisions.txt
  common/event_themes/wc_event_themes.txt
  common/lifestyle_perks/wc_elemental_water_magic_perks.txt
  common/modifiers/wc_magic_modifiers.txt
  common/on_action/wc_magic_perk_on_actions.txt
  common/script_values/wc_magic_spell_values.txt
  common/scripted_effects/00_activity_effects.txt
  common/scripted_effects/00_feast_scripted_effects.txt
  common/scripted_effects/06_dlc_ce1_legitimacy_effects.txt
  common/scripted_effects/wc_magic_effects.txt
  common/scripted_effects/wc_magic_elemental_water_effects.txt
  common/scripted_triggers/wc_magic_perks_triggers.txt
  common/scripted_triggers/wc_magic_spells_triggers.txt
  common/traits/wc_magic_traits.txt
  events/magic_events/wc_magic_perk_event.txt
  localization/english/event_localization/wc_magic_perk_events_l_english.yml
  localization/english/gui/wc_resource_l_english.yml
  localization/english/modifiers/wc_modifiers_mana_l_english.yml
  localization/english/wc_decisions_l_english.yml
  localization/english/wc_lifestyles_magic_l_english.yml
  localization/english/wc_traits_l_english.yml
Labels: priority medium :grey_exclamation:, magic ✨

#1590 Elemental Water Spells
  common/combat_phase_events/00_commander_phase_events.txt
  common/decisions/wc_magic_decisions.txt
  common/event_themes/wc_event_themes.txt
  common/game_concepts/wc_magic_spells_concepts.txt
  common/lifestyle_perks/wc_elemental_water_magic_perks.txt
  common/men_at_arms_types/wc_magic_maa.txt
  common/modifiers/wc_magic_modifiers.txt
  common/on_action/army_on_actions.txt
  common/on_action/travel_on_actions.txt
  common/on_action/wc_magic_perk_on_actions.txt
  common/on_action/wc_magic_spell_on_actions.txt
  common/script_values/00_activity_values.txt
  common/script_values/wc_magic_spell_values.txt
  common/script_values/wc_magic_values.txt
  common/scripted_effects/00_activity_effects.txt
  common/scripted_effects/00_feast_scripted_effects.txt
  common/scripted_effects/06_dlc_ce1_legitimacy_effects.txt
  common/scripted_effects/wc_magic_effects.txt
  common/scripted_effects/wc_magic_elemental_fire_effects.txt
  common/scripted_effects/wc_magic_elemental_water_effects.txt
  common/scripted_guis/wc_magic_guis.txt
  common/scripted_triggers/wc_magic_perks_triggers.txt
  common/scripted_triggers/wc_magic_spells_triggers.txt
  common/scripted_triggers/wc_vanilla_triggers.txt
  common/traits/wc_magic_traits.txt
  common/trigger_localization/wc_character_triggers.txt
  events/magic_events/wc_magic_perk_event.txt
  gfx/interface/icons/modifiers/water_mixed.dds
  gfx/interface/icons/modifiers/water_negative.dds
  gfx/interface/icons/modifiers/water_positive.dds
  localization/english/event_localization/wc_magic_perk_events_l_english.yml
  localization/english/gui/wc_resource_l_english.yml
  localization/english/modifiers/wc_modifiers_mana_l_english.yml
  localization/english/triggers/wc_character_triggers_l_english.yml
  localization/english/wc_decisions_l_english.yml
  localization/english/wc_game_concepts_l_english.yml
  localization/english/wc_game_concepts_magic_l_english.yml
  localization/english/wc_game_concepts_magic_spells_l_english.yml
  localization/english/wc_lifestyles_magic_l_english.yml
  localization/english/wc_regiment_l_english.yml
  localization/english/wc_traits_l_english.yml
Labels: priority high :exclamation:, magic ✨

#884 Doomhammer artifact
  common/artifacts/templates/wc_historical_artifacts_templates.txt
  common/artifacts/visuals/wc_historical.txt
  common/modifiers/wc_historical_artifact_modifiers.txt
  common/scripted_effects/wc_historical_artifacts_creation_effect.txt
  events/artifacts/historical_artifacts_events.txt
  gfx/interface/icons/artifact/wc_doomhammer.dds
  localization/english/artifacts/wc_artifacts_l_english.yml
  localization/german/artifacts/wc_artifacts_l_german.yml
Labels: new feature :star:, lore :books:, localisation :page_facing_up:, localisation - german :page_facing_up:, 2D graphics :paintbrush:, 3D graphics :triangular_ruler:, artifact⚔️
