Repository Warcraft-GoA-Development-Team/Warcraft-Guardians-of-Azeroth-2, pull requests merged in 2024-09, with the labels that each got.

#930 Bloodhoof Runespear
  common/artifacts/templates/wc_historical_artifacts_templates.txt
  common/artifacts/visuals/wc_historical.txt
  common/modifiers/wc_historical_artifact_modifiers.txt
  common/scripted_effects/wc_historical_artifacts_creation_effect.txt
  events/artifacts/historical_artifacts_events.txt
  events/error_suppression_events.txt
  gfx/interface/icons/artifact/wc_bloodhoof_runespear.dds
  gfx/models/artifacts/weapons/wc_bloodhoofrunespear/wc_bloodhoof_runespear.asset
  gfx/models/artifacts/weapons/wc_bloodhoofrunespear/wc_bloodhoof_runespear_portrait.mesh
  gfx/models/artifacts/weapons/wc_bloodhoofrunespear/wc_tauren_runespear_portrait_diffuse.dds
  gfx/models/artifacts/weapons/wc_bloodhoofrunespear/wc_tauren_runespear_portrait_normal.dds
  gfx/models/artifacts/weapons/wc_bloodhoofrunespear/wc_tauren_runespear_portrait_properties.dds
  gfx/portraits/accessories/wc_props.txt
  localization/english/artifacts/wc_artifacts_l_english.yml
  localization/german/artifacts/wc_artifacts_l_german.yml
Labels: new feature :star:, lore :books:, localisation :page_facing_up:, localisation - german :page_facing_up:, 2D graphics :paintbrush:, 3D graphics :triangular_ruler:, artifact⚔️

#1440 Fix union block error spamming
  common/scripted_effects/wc_pol_faction_effects.txt
Labels: priority critical :exclamation:, bug :bug:

#1456 King's Calendar
  localization/replace/english/wc_calendar_l_english.yml
Labels: localisation :page_facing_up:, priority low :grey_exclamation:, interface 👁‍🗨

#1455 Gilblins
  common/dynasties/28000_goblin.txt
  history/characters/gilblin.txt
  history/provinces/00_k_dead_morass.txt
  history/provinces/00_k_zandalar.txt
  history/titles/00_k_dead_morass.txt
  history/titles/00_k_zandalar.txt
  localization/english/dynasties/wc_dynasty_names_l_english.yml
Labels: lore :books:, localisation :page_facing_up:, priority low :grey_exclamation:, history 👑

#1386 Genocide
  common/casus_belli_types/00_civil_war.txt
  common/casus_belli_types/wc_genocide_wars.txt
  common/council_tasks/wc_genocide_councilor_tasks.txt
  common/customizable_localization/wc_genocide_custom_loc.txt
  common/game_concepts/wc_council_tasks_game_concepts.txt
  common/modifiers/wc_genocide_modifiers.txt
  common/on_action/culture_on_actions.txt
  common/on_action/game_start.txt
  common/on_action/religion_on_actions.txt
  common/on_action/title_on_actions.txt
  common/on_action/wc_genocide_on_actions.txt
  common/opinion_modifiers/wc_genocide_opinions.txt
  common/script_values/wc_genocide_values.txt
  common/scripted_effects/wc_being_effects.txt
  common/scripted_effects/wc_genocide_effects.txt
  common/scripted_effects/wc_war_effects.txt
  common/scripted_triggers/wc_being_triggers.txt
  common/scripted_triggers/wc_casus_belli_triggers.txt
  common/scripted_triggers/wc_genocide_triggers.txt
  common/scripted_triggers/wc_religious_triggers.txt
  events/councillor_task_events/wc_genocide_task_events.txt
  gfx/interface/icons/council_task_types/task_purge_population.dds
  gfx/interface/icons/council_task_types/task_relocate_population.dds
  localization/english/event_localization/wc_genocide_task_events_l_english.yml
  localization/english/modifiers/wc_modifiers_l_english.yml
  localization/english/opinions/wc_genocide_opinions_l_english.yml
  localization/english/wc_council_tasks_l_english.yml
  localization/english/wc_game_concepts_l_english.yml
  localization/english/wc_wars_l_english.yml
  localization/replace/english/wc_game_rules_l_english.yml
Labels: new feature :star:, lore :books:, priority high :exclamation:, cultural :mortar_board:, religious :pray:

#1463 Frostbite decals
  common/genes/08_genes_special_visual_traits.txt
  gfx/models/portraits/decals/visual_traits/decal_frostbite_1ststage_diffuse.dds
  gfx/models/portraits/decals/visual_traits/decal_frostbite_1ststage_normal.dds
  gfx/models/portraits/decals/visual_traits/decal_frostbite_1ststage_properties.dds
  gfx/models/portraits/decals/visual_traits/decal_frostbite_2ndstage_diffuse.dds
  gfx/models/portraits/decals/visual_traits/decal_frostbite_2ndstage_normal.dds
  gfx/models/portraits/decals/visual_traits/decal_frostbite_2ndstage_properties.dds
  gfx/models/portraits/decals/visual_traits/decal_frostbite_3ststage_diffuse.dds
  gfx/models/portraits/decals/visual_traits/decal_frostbite_3ststage_normal.dds
  gfx/models/portraits/decals/visual_traits/decal_frostbite_3ststage_properties.dds
  gfx/portraits/trait_portrait_modifiers/00_trait_modifiers.txt
Labels: priority medium :grey_exclamation:, 3D graphics :triangular_ruler:, magic ✨
